@inject Microsoft.Extensions.Options.IOptions<WebApp.Services.AppInfoSetting> AppInfo
@{
    ViewBag.Title = "登入帳號管理";
}

@section Scripts {
    <script src="~/lib/require.js"></script>
    <script type="text/javascript">
        require.config({
            urlArgs: "v=@AppInfo.Value.Version"
        });
    </script>
    <script type="text/javascript">
        require(["../scripts/webapp.sys/sys002.js"], function (m) {
            m.startApp('/', '/sys002');
        });
    </script>
}

@section Styles
    {
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        tr {
            cursor: pointer
        }
    </style>
}

@section PageHeader{

}

<div ng-cloak>

    <!--主畫面#套用-->
    <div ng-include src="'MainCtrl'"></div>

    <!--主畫面 -->
    <script id="MainCtrl" type="text/ng-template">

        <div class="callout callout-info">
            <h4>登入帳號管理</h4>

            <p>
                登入帳號管理與群組設定
            </p>
        </div>

        <!--MainCtrl-->
        <div ng-controller="MainCtrl as ctl">

            <ul class="nav nav-tabs" ng-if="ctl.Tabs[1]">
                <li ng-repeat="x in ctl.Tabs" ng-class="x.IsFocus ? 'active' : ''">
                    <a ng-click="x.focus()">{{x.Title}}<span span ng-if="x.IsCloseEnable">&nbsp;&nbsp;</span><span ng-if="x.IsCloseEnable" style="cursor:pointer" ng-click="x.close()" class="glyphicon glyphicon-remove"></span></a>
                </li>
            </ul>
            <div ng-repeat="tab in ctl.Tabs">
                <!--First Tab-->
                <div ng-if="$index == 0" ng-show="tab.IsFocus">
                    <!--資料列表-->
                    <div class="form-group form-inline">
                        <label class="sr-only">查詢</label>
                        <div class="input-group">
                            <input type="text" placeholder="輸入查詢條件" class="form-control" ng-model="ctl.QryArgs.Name.Value" ng-change="ctl.QryArgs.Name.Checked=true" />
                            <div class="input-group-btn">
                                <button class="btn" ng-click="ctl.pageQuery();"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="x in ['Email', '姓名', '電話']">
                                        <button class="btn btn-link" ng-click="ctl.pageOrderBy(x)">{{x}}</button>
                                        <span class="orderby" ng-show="ctl.QryArgs.OrderBy.Value.Column === x" ng-class="{reverse: ctl.QryArgs.OrderBy.Value.Desc}"></span>
                                    </th>
                                    <th>群組</th>
                                    <th>備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="x in ctl.Records" ng-click="ctl.recordView(x)">
                                    <td>{{x.Email}}</td>
                                    <td>{{x.EX_Name}}</td>
                                    <td>{{x.PhoneNumber}}</td>
                                    <td>
                                        <span class="glyphicon glyphicon-check" ng-repeat-start="y in x.Roles | filter : {IsEnable:true}"></span>
                                        <span ng-repeat-end>{{ y.Title }}&nbsp;</span>
                                    </td>
                                    <td>{{x.Remark}}</td>
                                </tr>
                                <tr ng-repeat-end ng-if="x.$SubRecord" ng-repeat="record in [x.$SubRecord]">
                                    <td colspan="5">
                                        <div ng-include src="'Item'" ng-init=""></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--頁面索引-->
                    <div ng-include src="'Pager'"></div>
                </div>
            </div>

            <!--對話盒容器-->
            <div ng-include ng-repeat="DialogCaller in [ctl.DialogCaller]" ng-if="DialogCaller" src="DialogCaller.Name"></div>

            <!--錯誤訊息-->
            <div style="top:33%;position:fixed;left:25%;width:50%;z-index:10;" class="alert alert-danger" ng-show="ctl.Result != null && ctl.Result.Result != 'OK'">
                {{ctl.Result.Message}}
                <button type="button" class="close" ng-click="ctl.Result = null">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <!--項目樣板-->
        <script id="Item" type="text/ng-template">
            <form name="form" novalidate>
                <!--編輯-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="close pull-left" ng-click="ctl.recordClose(record)"><span>&times;</span></button>
                        <span>
                            &nbsp;詳細資料
                        </span>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label>Email</label>
                            <p class="form-control-static">{{record.Email}}</p>
                            <!--<input type="text" class="form-control" placeholder="" ng-model="record.Email" ng-disabled="true">-->
                        </div>
                        <div class="form-group" ng-class="form.UserName.$valid ? 'has-succes' :'has-error'">
                            <label>*姓名</label>
                            <input type="text" name="UserName" class="form-control" placeholder="" ng-model="record.EX_Name" ng-disabled="false" required maxlength="20">
                            <span ng-show="!form.PhoneNumber.$valid" class="help-block">請輸入姓名</span>
                        </div>
                        <div class="form-group" ng-class="form.PhoneNumber.$valid ? 'has-succes' :'has-error'">
                            <label>*電話</label>
                            <input type="text" name="PhoneNumber" class="form-control" placeholder="" ng-model="record.PhoneNumber" ng-disabled="false" required maxlength="20">
                            <span ng-show="!form.PhoneNumber.$valid" class="help-block">請輸入電話</span>
                        </div>

                        <div class="form-group" ng-repeat="role in record.Roles">
                            <label>群組-{{role.Title}}</label>
                            <input class="form-check-input" type="checkbox" ng-model="role.IsEnable">
                        </div>
                        <div class="form-group" ng-class="form.Remark.$valid ? 'has-succes' :'has-error'">
                            <label>備註</label>
                            <input type="text" name="Remark" class="form-control" placeholder="" ng-model="record.Remark" ng-disabled="false" maxlength="100">
                            <!--<span ng-show="!form.Remark.$valid" class="help-block">請輸入電話</span>-->
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default" ng-click="ctl.recordClose(record)">取消</button>
                        <button type="button" class="btn btn-primary" ng-show="form.$valid" ng-click="ctl.recordSave(record);"><span class="glyphicon glyphicon-floppy-save"></span>儲存</button>
                        <button type="button" class="btn btn-danger" ng-show="record.Id > 0" ng-click="ctl.recordDelete(record)"><span class="glyphicon glyphicon-floppy-remove"></span>刪除</button>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-green">帳號所擁有的功能</div>
                    <div class="panel-body">
                        <div class="btn-group" ng-repeat="x in record.Menu">
                            <button type="button" class="btn btn-default">{{x.Node.Text}}</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in x.Nodes"><a href="#">{{item.Node.Text}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </script>
    </script>

    <!--頁面索引-->
    <script id="Pager" type="text/ng-template">
        <div class="row">
            <div class="col-sm-2">
                <label ng-if="ctl.Pager.Source.IsAll" style="color:royalblue">
                    筆數:{{ctl.Pager.Source.Count + ctl.RecordsLogAttachCount}}
                </label>
                <label ng-if="!ctl.Pager.Source.IsAll" style="color:red">
                    筆數:{{ctl.Pager.Source.Count + ctl.RecordsLogAttachCount}}以上
                </label>
            </div>
            <div class="col-sm-8">
                <nav>
                    <ul class="pagination">
                        <li ng-class="x.Active ? 'active' : (x.Enable ? '' : 'disabled' )" ng-repeat="x in ctl.Pager.Indexes"><a ng-click="ctl.pageMove(x.Index)">{{x.Name}}</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </script>

    <!--當執行中-->
    <div id="loading" class="loading" style="position:fixed;top:43%;left:43%;z-index:101;display:none">
    </div>

    <div ng-include src="'@Url.Content("~/home/commonhtml")'"></div>
</div>

