
@{
    ViewBag.Title = "";
}

@section Scripts
{
    <script src="~/lib/require.js"></script>
    <script type="text/javascript">
        requirejs.config({
            urlArgs: "v=1.0.0"
        });
    </script>
    <script type="text/javascript">
        requirejs(["../../scripts/webapp.demo/demo006.js"], function (m) {
        m.startApp();
        });
    </script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="MainCtrl as ctl">


    <form action="helloworld" method="post">
        姓名：<input type="text" name="UserName"><br>
        內容：<textarea name="Content"></textarea><br>
        <input type="submit" value="送出表單">
    </form>
</div>

