
@{
    ViewBag.Title = "List";
}

@section Scripts
{
    <script src="~/lib/require.js"></script>
    <script type="text/javascript">
        requirejs.config({
            urlArgs: "v=1.0.0"
        });
    </script>
    <script type="text/javascript">
        requirejs(["../../scripts/webapp.demo/demo002.js"], function (m) {
        m.startApp();
        });
    </script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="MainCtrl as ctl">
    <input type="text" ng-model="ctl.Info" />
    <button ng-click="ctl.addInfo()">Add</button>
    <ul>
        <li ng-repeat="x in ctl.Infos">{{x}}</li>
    </ul>
</div>

