

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}



/*Loading*/
.loading {
    border: 1em solid #f3f3f3;
    border-radius: 50%;
    border-top: 1em solid #3498db;
    width: 5em;
    height: 5em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*.jumbotron p {
    font-size: 18px;
}

.jumbotron h1 {
    font-size: 80%;
}*/

/* BLACK UP-POINTING TRIANGLE*/
.orderby:after {
    content: '\25b2';
}
/*BLACK DOWN-POINTING TRIANGLE*/
.orderby.reverse:after {
    content: '\25bc';
}


.panel-green {
    border-color: #5cb85c;
}

    .panel-green > .panel-heading {
        border-color: #5cb85c;
        color: white;
        background-color: #5cb85c;
    }

    .panel-green > a {
        color: #5cb85c;
    }

        .panel-green > a:hover {
            color: #3d8b3d;
        }

.panel-red {
    border-color: #d9534f;
}

    .panel-red > .panel-heading {
        border-color: #d9534f;
        color: white;
        background-color: #d9534f;
    }

    .panel-red > a {
        color: #d9534f;
    }

        .panel-red > a:hover {
            color: #b52b27;
        }

.panel-yellow {
    border-color: #f0ad4e;
}

    .panel-yellow > .panel-heading {
        border-color: #f0ad4e;
        color: white;
        background-color: #f0ad4e;
    }

    .panel-yellow > a {
        color: #f0ad4e;
    }

        .panel-yellow > a:hover {
            color: #df8a13;
        }