@model SetPasswordViewModel
@{
    ViewData["Title"] = "設定密碼";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>設定密碼</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    @*You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.*@
    你還沒有設定密碼，設定密碼後可以不用使用外部帳號就可以登入系統。
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            http://www.google.com
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">設定密碼</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
